parameters:
    level: 5
    paths:
        - src
        - tests
    excludePaths:
        - vendor
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
